header {
    display: flex;

}
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  margin: 0 24px;
}
 .logo , .links{
   display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 0px;
 }
 .links {
   align-content: flex-end;
   align-items: center;
 }
 .links span {
   padding-left: 16px;
 }
 .logo {
   margin: 16px 0;
   font-weight: bolder;
   height: 32px;}
.banner {
   display: flex;
   padding: 32px 24px;
   background-color: lightgray;
   border: 1px solid black;
   align-items: center;
   flex-wrap: nowrap;
   overflow: hidden;
 }
.banner img {
   width: 60%;
   padding-right:12px;
 }
.banner div{
   display: flex;
   flex-flow: column;
   align-items: center;
   align-items: stretch;
   width:40%;
   height: 100%;
   padding: 0 9rem 0 2rem;
   margin-right: 64px;
 }
 .statement h1 {
   font-weight: bold;
   font-size: 3rem;

 }
 .statement p {
   padding: 24px 0;
   font-size: 2rem;
   width: auto;

 }
.statement span {
  align-items: center;
  background-color: gray;
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  align-content: stretch;
  font-size: 2rem;
  width: auto;
}
.statement a {
  color:white;
}
.information {
  display: flex;
  padding: 32px 24px;
  overflow: hidden;
}
.passage {
  width: 60%;
  padding: 0 12px;
  overflow: hidden;

}

.passage h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 24px;

}
.passage img {
  width: 100%;
  overflow: hidden;
}
.amanuel .qute {
  font-size: 1.3rem;
  font-size: 1.2rem;
  margin: 24px auto;
}
.amanuel span {
  margin-top: 24px;
}

.us {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12px;
  height: inherit;
  width: 40%;
  object-fit: scale-down;
}
.date , .campus , .lecture {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  border: 1px solid Gainsboro ;
  height: 33.3%;
}
.us .image {
  width:35%;
  height: auto;
  margin: 16px;
  height:60%;
  overflow: hidden;
}

.image img {
  height: auto;
  width: 100%;
}

.us .tx {
  width: 65%;
}
.us .lecture {
  background-color: lightgray;
}
.tx p {
  margin: 8px auto;
}
.learning {
  display: flex;
  flex-direction: column;
  padding: 32px 72px;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.learning h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}
.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.courses1 , .courses2 {
  display: flex;
  justify-content: center;
  align-content: stretch;
}
.courses1 .cou {
  height: 100%;
}
.courses2 .cou {
  height: 100%;
}
.cou img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.cou{
  height: 60%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.cou .MA {
  display: flex;
  flex-direction: column;
  width: 100%;
  word-wrap: break-word;
  float: left;
  padding: 16px 0 24px  16px;
}
.cou {
  margin: 0 16px 32px;
}
.marketing , .data {
  padding-bottom: 15px;
}
.cou #courses {
  margin: 8px 0;
}
.exhibit {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 100%;
}
.exhibit h3 {
  width: 100%;
  display:inline-flex;
  justify-content: center;
}
.passage2 {
  width: 100%;
  padding-right:12px;
  display:flex;
  flex-direction: column;
  align-items: center;

}
.amanuel2 {
  width: 60%;
}
.amanuel2 video {
  width: 60%;
  height: auto;
  overflow: hidden;
}
.amanuel2 p {
  width: 60%;
  height: auto;
  overflow: hidden;
}
.link2 {
  display: flex;
  flex-direction: column;
  width:40%;

}
.link2 .fn {
  display: flex;
  padding: 16px;

}

.fn .image2 {
  width: 35%;
  height: auto;
  overflow: hidden;
}
.fn .tx2 {
  width: 65%;
}
