body {
  width: auto;
  line-height: 1.5px;
}
header {
    display: flex;

}
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  margin: 0 24px;
}
 .logo , .links{
   display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 0px;
 }
 .links {
   align-content: flex-end;
   align-items: center;
 }
 .links span {
   padding-left: 16px;
 }
 .links a {
   color: inherit;
   text-decoration: none;

 }
 .logo {
   margin: 16px 0;
   font-weight: bolder;
   height: 32px;}
.banner {
   display: flex;
   padding: 32px 24px;
   background-color: lightgray;
   border: 1px solid black;
   align-items: center;
   flex-wrap: nowrap;
   overflow: hidden;
  line-height: 2rem;
 }
.banner img {
   width: 60%;
   padding-right:12px;
 }
.banner div{
   display: flex;
   flex-flow: column;
   align-items: center;
   align-items: stretch;
   width:40%;
   height: 100%;
   padding: 0 9rem 0 2rem;
   margin-right: 64px;
 }

 .statement h1 {
   font-weight: bold;
   font-size: 3rem;
   line-height: 4rem;
 }
 .statement p {
   padding: 24px 0;
   font-size: 1.4rem;
   width: auto;
   line-height: 2rem;


 }
.statement span {
  align-items: center;
  background-color: gray;
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  align-content: stretch;
  font-size: 2rem;
  width: auto;
}
.statement a {
  color:white;
}
.information {
  display: flex;
  padding: 32px 24px;
  overflow: hidden;
}
.passage {
  width: 60%;
  padding: 0 12px;
  overflow: hidden;
  line-height: 2rem;
}

.passage h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 32px;
  margin-bottom: 24px;
}
.passage p {
  line-height: 2rem;
}
.passage img {
  width: 100%;
  overflow: hidden;
}
.amanuel {
  font-size: 1.3rem;
  font-size: 1.2rem;
  margin: 24px auto;
}
.amanuel span {
  margin-top: 24px;
}

.us {
  display: flex;
  flex-wrap: wrap;
  margin-left: 12px;
  height: inherit;
  width: 40%;
  line-height: 2rem;
}
.date , .campus , .lecture {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  border: 1px solid Gainsboro ;
  height: 33.3%;
}
.us .image {
  width:35%;
  height: auto;
  margin: 16px;
  height:60%;
  overflow: hidden;
}

.image img {
  height: auto;
  width: 100%;
}

.us .tx {
  width: 65%;
}
.us .lecture {
  background-color: lightgray;
}
.tx p {
  margin: 8px auto;
}
.learning {
  display: flex;
  flex-direction: column;
  padding: 32px 72px;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.learning h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}
.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
}
.courses1 , .courses2 {
  display: flex;
  justify-content: center;
  align-content: stretch;
}
.courses1 .cou {
  height: 100%;
}
.courses2 .cou {
  height: 100%;
}
.cou img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.cou{
  height: 60%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.cou .MA {
  display: flex;
  flex-direction: column;
  width: 100%;
  word-wrap: break-word;
  float: left;
  padding: 16px 0 24px  16px;
}
.cou {
  margin: 0 16px 32px;
}
.marketing , .data {
  padding-bottom: 30px;
}
.cou #courses {
  margin: 8px 0;
}
.exhibit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
  line-height: 2rem;
}
.exhibit h3 {
  width: 100%;
  width: auto;
  margin: 32px;
}
.passage2 {
  width: 100%;
  margin-left:24px;
  display:flex;
}
.amanuel2 {
  width: 60%;

}
.amanuel2 video {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 24px;
}
.amanuel2 h2 {
  margin-bottom:8px;
}
.amanuel2 p {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.link2 {
  display: flex;
  flex-direction: column;
  width:40%;
  overflow: auto;
  height: inherit;


}
.link2 .fn {
  display: flex;
  align-items: center;
}

.fn .image2 {
  width: 35%;
  height: auto;
  overflow: hidden;
  margin: 16px;
}
.image2 img {
  width: 100%;
  height:100%;
}
.fn .tx2 {
  width: 65%;
display: flex;
flex-direction: column;
align-items: flex-start;
}
.link2 .fisma {
  background-color: lightgray;
}
footer{
  width: auto;
  padding: 0 12px;
  line-height: 2rem;

}
.footers {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 16px 24px 50px 24px;
  border-top: 1px solid gray;
}
.footers a {
  padding: 0 10px;
  color: inherit;
  text-decoration: none;
}
.footers .tp {
  margin-right: 50px;
}
